MONGODB_URL=mongodb+srv://arnabpaladhi2_db_user:24wKHDRAvGg2K3aY@cluster0.o7fcpoj.mongodb.net/Ai-Powerd-interview
JWT_SECRET_KEY=Hello this is davidjones
REFRESH_SECRET=my_refresh_secret_456
//CLOUDINARY_API_KEY
CLOUDINARY_CLOUD_NAME=dde3aplf2
CLOUDINARY_API_KEY=138771526811212
CLOUDINARY_API_SECRET=9ruk5FGBZkgWP0HpvpPn2M2YwkA

# SendGrid Configuration (Replacing Nodemailer)
SENDGRID_API_KEY = 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
EMAIL_FROM='support.fullstackdev80@gmail.com'

# Gemini API Key
GEMINI_API_KEY=AQ.Ab8RN6L3H2l5MYrnpVZCtneRzi8hI0GfnvV2XzMMSZeGk6s5Sw

# Application Base URLs (Optional - for local/production fallback)
BACKEND_URL=http://localhost:5273
FRONTEND_URL=http://localhost:3000
